Enumerated object can then be used directly for loops or converted into a list of tuples using the list() method.

In [1]:
l1 = ["eat", "sleep", "repeat"]
s1 = "geek"

In [3]:
obj1 = enumerate(l1)
obj2 = enumerate(s1)

In [6]:
print ("Return type:", type(enumerate(l1)))

Return type: <class 'enumerate'>

In [5]:
print (list(enumerate(l1))) #the index value from which the counter is to be started, by default it is 0

[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]

In [8]:
print (list(enumerate(l1[0])))

[(0, 'e'), (1, 'a'), (2, 't')]

In [12]:
print (list(enumerate(l1[0],3))) #changing start index to 3 from 0

[(3, 'e'), (4, 'a'), (5, 't')]

In [7]:
print (list(enumerate(s1)))

[(0, 'g'), (1, 'e'), (2, 'e'), (3, 'k')]

In [11]:
# changing start index to 2 from 0
print (list(enumerate(s1, 2)))

[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [13]:
# enumerate function in loops
l1 = ["eat", "sleep", "repeat"]
# printing the tuples in object directly
for ele in enumerate(l1):
    print (ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')

In [14]:
#enumerate function in loops
sweta=['raj','sinha']

print(list(enumerate(sweta)))

[(0, 'raj'), (1, 'sinha')]

In [16]:
#Using looping
for i in enumerate(sweta):
  print(i)

(0, 'raj')
(1, 'sinha')

Practice

In [21]:
s21=['eat','sit','dance','race']
print (len(list((enumerate(s21)))))

4

In [25]:
print(list(enumerate(s21)))

[(0, 'eat'), (1, 'sit'), (2, 'dance'), (3, 'race')]

In [26]:
print(list((enumerate(s21[0]))))

[(0, 'e'), (1, 'a'), (2, 't')]

In [29]:
# now using forloop
s21=['eat','sit','dance','race']
for ele in enumerate(s21):
  print(ele)

(0, 'eat')
(1, 'sit')
(2, 'dance')
(3, 'race')

In [32]:
# now using forloop
s21=['eat','sit','dance','race']
for ele in enumerate(s21[0]):
  print(ele)

(0, 'e')
(1, 'a')
(2, 't')

In [34]:
# now using forloop
s21=['eat','sit','dance','race']
for ele in enumerate(s21[0]):
  print(ele[1])

e
a
t

# changing index and printing separately

In [35]:
s21=['eat','sit','dance','race']
for count, ele in enumerate(s21, 100):
    print (count, ele)

100 eat
101 sit
102 dance
103 race

In [40]:
# getting desired output from tuple
for count, ele in enumerate(s21):
    print(count,ele)

0 eat
1 sit
2 dance
3 race

In [41]:
# getting desired output from tuple
for count, ele in enumerate(s21[0]):
    print(count,ele)

0 e
1 a
2 t

In [45]:
for count, ele in enumerate(s21):
  print(ele)
  print(count,ele)

eat
0 eat
sit
1 sit
dance
2 dance
race
3 race

In [43]:
for  ele in enumerate(s21):
  print(ele)

(0, 'eat')
(1, 'sit')
(2, 'dance')
(3, 'race')

Print lists in Python (5 Different Ways)

In [55]:
a = [1, 2, 3, 4, 5] # input
for i in range (len(a)): 
  print(i) # print range

0
1
2
3
4

In [56]:
a = [1, 2, 3, 4, 5] # input
for i in range (len(a)):
   print(a[i]) # print element

1
2
3
4
5

In [57]:
a = [1, 2, 3, 4, 5]
print(*a)

1 2 3 4 5

In [59]:
t=['sa','sb','sc','sd']
print(list(enumerate(t)))
print(*t)

[(0, 'sa'), (1, 'sb'), (2, 'sc'), (3, 'sd')]
sa sb sc sd

In [61]:
t=['sa','sb','sc','sd']
for count,ele in enumerate(t):
  print(count,ele)

0 sa
1 sb
2 sc
3 sd

In [68]:
t=['sa','sb','sc','sd']
for ele in enumerate(t):
  print(ele)

(0, 'sa')
(1, 'sb')
(2, 'sc')
(3, 'sd')

In [67]:
t=['sa','sb','sc','sd']
for ele in range(len(t)):
  print(t[ele])

sa
sb
sc
sd

In [69]:
print("printing lists separated by commas")
  
print(*t, sep = ", ")

printing lists separated by commas
sa, sb, sc, sd

In [71]:
# print in new line
print("printing lists in new line")
  
print(*t, sep = "\n")

printing lists in new line
sa
sb
sc
sd

In [72]:
a =["Geeks", "for", "Geeks"]
  
# print the list using join function()
print(' '.join(a))

Geeks for Geeks

In [73]:
print(' '.join(sweta))

raj sinha

In [74]:
pawan=['prithwi','vinita']
print(' '.join(pawan))

prithwi vinita

In [78]:
a = [1, 2, 3, 4, 5]
  
print (str(a))
print (str(a)[1:-1])

[1, 2, 3, 4, 5]
1, 2, 3, 4, 5

Using map : Use map() to convert each item in the list to a string if list is not a string, and then join them

In [80]:
# Python program to print list
# print the list by converting a list of 
# integers to string using map
  
a = [1, 2, 3, 4, 5]
print(' '.join(map(str, a))) 
  
print("in new line")
print('\n'.join(map(str, a)))

1 2 3 4 5
in new line
1
2
3
4
5

In [81]:

# Python program to print list
# print the list by using list comprehension  
  
a = [1, 2, 3, 4, 5]
[print(i, end=' ') for i in a] 
  
print("\nIn new line")
[print(i) for i in a]

1 2 3 4 5
In new line
1
2
3
4
5

[None, None, None, None, None]